<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="~/css/styleCarrinho.css" rel="stylesheet" media="all">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>

</head>
<body>
    <main>
        <div class="page-title">
            Carrinho de compras
        </div>
        <div class="content">
            <section>
                <table>
                    <thead>
                        <tr>
                            <th>Produto</th>
                            <th>Preço</th>
                            <th>Quantidade</th>
                            <th>Total</th>
                            <th>-</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                <div class="product">
                                    <img src="~/lib/images/alface-lisa.png" alt="">
                                    <div class="info">
                                        <div class="name">Alface</div>
                                        <div class="category">Hortaliça</div>
                                    </div>
                                </div>
                            </td>
                            <td>R$ 35</td>
                            <td>
                                <div class="qtd">
                                    <button><i class="bx bx-minus"></i></button>
                                    <span>2</span>
                                    <button><i class="bx bx-plus"></i></button>
                                </div>
                            </td>
                            <td>R$ 70</td>
                            <td>
                                <button class="remove"><i class="bx bx-x"></i></button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </section>
            <aside>
                <div class="box">
                    <header>Resumo da compra</header>
                    <div class="info">
                        <div><span>Sub-total</span><span>R$ 35</span></div>
                        <div><span>Desconto</span><span>R$ 00</span></div>
                    </div>
                    <footer>
                        <span>Total</span>
                        <span>R$ 70</span>
                    </footer>
                </div>
                <button>Finalizar compra</button>
            </aside>
        </div>
    </main>
</body>
</html>