@{
    Layout = "_LayoutDeslogado";
    ViewData["Title"] = "Página restrita";
}

<p>Você não possui permissão para acessar essa página, <a asp-controller="Home" asp-action="Index">clique aqui para voltar para a home.</a></p>