@model Pim4_FazendaUrbana.DATA.Models.Fornecedor

@{
    ViewData["Title"] = "Adicionar";
}

<h1>Novo fornecedor</h1>

<h4>Preencha os campos a seguir para adicionar um novo fornecedor</h4>
<hr />
<div>
    <a class="btn btn-primary" asp-action="Index">Voltar</a>
</div>
<br />
<div class="row">
    <div class="col-md">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="card">
                <div class="card-header">Informações</div>
                <div class="card-body">
                    <div class="form-group">
                        <label asp-for="RazaoSocial" class="control-label"></label>
                        <input asp-for="RazaoSocial" class="form-control" />
                        <span asp-validation-for="RazaoSocial" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="NomeFantasia" class="control-label"></label>
                        <input asp-for="NomeFantasia" class="form-control" />
                        <span asp-validation-for="NomeFantasia" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Cnpj" class="control-label"></label>
                        <input asp-for="Cnpj" class="form-control" />
                        <span asp-validation-for="Cnpj" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="DataCadastro" class="control-label"></label>
                        <input asp-for="DataCadastro" class="form-control" />
                        <span asp-validation-for="DataCadastro" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <br />
            <div class="card">
                <div class="card-header">Contato</div>
                <div class="card-body">
                    <div class="form-group">
                        <label asp-for="Email" class="control-label"></label>
                        <input asp-for="Email" class="form-control" />
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <br />
            <div class="form-group">
                <input type="submit" value="Adicionar" class="btn btn-success" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
